section.models
    div.container
        div.models__cards
            div.card
                picture 
                    source(
                        srcset=require("../../img/models/jcb-155.webp") 
                        type="image/webp")
                    img(src=require("../../img/models/jcb-155.jpg") 
                        alt="JCB 155" 
                        class="card__image")
                .card__info
                    .card__top 
                        h3.card__name JCB 155
                        h2.card__status под заказ
                    .card__params 
                        .card__param 
                            .card__param-title
                                p Масса
                            .card__param-value 
                                p 2844 кг 

                        .card__param 
                            .card__param-title
                                p Грузоподъёмность
                            .card__param-value 
                                p 703 кг 

                        .card__param 
                            .card__param-title
                                p Бренд двигателя
                            .card__param-value 
                                p Perkins 

                        .card__param 
                            .card__param-title
                                p Мощность двигателя
                            .card__param-value 
                                p 60 л.с.

                    .card__buttons 
                        button(class="card__button card__button_yellow" data-js="trigger-modal-price"
                                type="submit") Стоимость
                        button(class="card__button" data-js="trigger-modal-leasing"
                                type="submit") Рассчитать лизинг
            div.card
                picture 
                    source(
                        srcset=require("../../img/models/JCB-175.webp") 
                        type="image/webp")
                    img(src=require("../../img/models/JCB-175.jpg") 
                        alt="JCB 175" 
                        class="card__image")
                .card__info
                    .card__top 
                        h3.card__name JCB 175
                        h2.card__status под заказ
                    .card__params 
                        .card__param 
                            .card__param-title
                                p Масса
                            .card__param-value 
                                p 3011 кг 

                        .card__param 
                            .card__param-title
                                p Грузоподъёмность
                            .card__param-value 
                                p 795 кг 

                        .card__param 
                            .card__param-title
                                p Бренд двигателя
                            .card__param-value 
                                p Perkins 

                        .card__param 
                            .card__param-title
                                p Мощность двигателя
                            .card__param-value 
                                p 59.9 л.с.

                    .card__buttons 
                        button(class="card__button card__button_yellow" data-js="trigger-modal-price"
                                type="submit") Стоимость
                        button(class="card__button" data-js="trigger-modal-leasing"
                                type="submit") Рассчитать лизинг
            div.card
                picture 
                    source(
                        srcset=require("../../img/models/JCB-190.webp") 
                        type="image/webp")
                    img(src=require("../../img/models/JCB-190.jpg") 
                        alt="JCB 190" 
                        class="card__image")
                .card__info
                    .card__top 
                        h3.card__name JCB 190
                        h2.card__status под заказ
                    .card__params 
                        .card__param 
                            .card__param-title
                                p Масса
                            .card__param-value 
                                p 3127 кг 

                        .card__param 
                            .card__param-title
                                p Грузоподъёмность
                            .card__param-value 
                                p 862 кг 

                        .card__param 
                            .card__param-title
                                p Бренд двигателя
                            .card__param-value 
                                p Perkins 

                        .card__param 
                            .card__param-title
                                p Мощность двигателя
                            .card__param-value 
                                p 59.9 л.с.

                    .card__buttons 
                        button(class="card__button card__button_yellow" data-js="trigger-modal-price"
                                type="submit") Стоимость
                        button(class="card__button" data-js="trigger-modal-leasing"
                                type="submit") Рассчитать лизинг
            div.card
                picture 
                    source(
                        srcset=require("../../img/models/JCB-205.webp") 
                        type="image/webp")
                    img(src=require("../../img/models/JCB-205.jpg") 
                        alt="JCB 205" 
                        class="card__image")
                .card__info
                    .card__top 
                        h3.card__name JCB 205
                        h2.card__status под заказ
                    .card__params 
                        .card__param 
                            .card__param-title
                                p Масса
                            .card__param-value 
                                p 3237 кг 

                        .card__param 
                            .card__param-title
                                p Грузоподъёмность
                            .card__param-value 
                                p 930 кг 

                        .card__param 
                            .card__param-title
                                p Бренд двигателя
                            .card__param-value 
                                p Perkins 

                        .card__param 
                            .card__param-title
                                p Мощность двигателя
                            .card__param-value 
                                p 59.9 л.с.

                    .card__buttons 
                        button(class="card__button card__button_yellow" data-js="trigger-modal-price"
                                type="submit") Стоимость
                        button(class="card__button" data-js="trigger-modal-leasing"
                                type="submit") Рассчитать лизинг
            div.card
                picture 
                    source(
                        srcset=require("../../img/models/JCB-225.webp") 
                        type="image/webp")
                    img(src=require("../../img/models/JCB-225.jpg") 
                        alt="JCB 225" 
                        class="card__image")
                .card__info
                    .card__top 
                        h3.card__name JCB 225
                        h2.card__status под заказ
                    .card__params 
                        .card__param 
                            .card__param-title
                                p Масса
                            .card__param-value 
                                p 3679 кг 

                        .card__param 
                            .card__param-title
                                p Грузоподъёмность
                            .card__param-value 
                                p 1021 кг 

                        .card__param 
                            .card__param-title
                                p Бренд двигателя
                            .card__param-value 
                                p  DIESELMAX

                        .card__param 
                            .card__param-title
                                p Мощность двигателя
                            .card__param-value 
                                p 74 л.с.

                    .card__buttons 
                        button(class="card__button card__button_yellow" data-js="trigger-modal-price"
                                type="submit") Стоимость
                        button(class="card__button" data-js="trigger-modal-leasing"
                                type="submit") Рассчитать лизинг
            div.card
                picture 
                    source(
                        srcset=require("../../img/models/JCB-260.webp") 
                        type="image/webp")
                    img(src=require("../../img/models/JCB-260.jpg") 
                        alt="JCB 260" 
                        class="card__image")
                .card__info
                    .card__top 
                        h3.card__name JCB 260
                        h2.card__status под заказ
                    .card__params 
                        .card__param 
                            .card__param-title
                                p Масса
                            .card__param-value 
                                p 3805 кг 

                        .card__param 
                            .card__param-title
                                p Грузоподъёмность
                            .card__param-value 
                                p 1179 кг 

                        .card__param 
                            .card__param-title
                                p Бренд двигателя
                            .card__param-value 
                                p DIESELMAX 

                        .card__param 
                            .card__param-title
                                p Мощность двигателя
                            .card__param-value 
                                p 74 л.с.

                    .card__buttons 
                        button(class="card__button card__button_yellow" data-js="trigger-modal-price"
                                type="submit") Стоимость
                        button(class="card__button" data-js="trigger-modal-leasing"
                                type="submit") Рассчитать лизинг
            div.card
                picture 
                    source(
                        srcset=require("../../img/models/JCB-270.webp") 
                        type="image/webp")
                    img(src=require("../../img/models/JCB-270.jpg") 
                        alt="JCB 270" 
                        class="card__image")
                .card__info
                    .card__top 
                        h3.card__name JCB 270
                        h2.card__status под заказ
                    .card__params 
                        .card__param 
                            .card__param-title
                                p Масса
                            .card__param-value 
                                p 3903 кг 

                        .card__param 
                            .card__param-title
                                p Грузоподъёмность
                            .card__param-value 
                                p 1235 кг 

                        .card__param 
                            .card__param-title
                                p Бренд двигателя
                            .card__param-value 
                                p Perkins 

                        .card__param 
                            .card__param-title
                                p Мощность двигателя
                            .card__param-value 
                                p 74 л.с.

                    .card__buttons 
                        button(class="card__button card__button_yellow" data-js="trigger-modal-price"
                                type="submit") Стоимость
                        button(class="card__button" data-js="trigger-modal-leasing"
                                type="submit") Рассчитать лизинг
            div.card
                picture 
                    source(
                        srcset=require("../../img/models/JCB-280.webp") 
                        type="image/webp")
                    img(src=require("../../img/models/JCB-280.jpg") 
                        alt="JCB 280" 
                        class="card__image")
                .card__info
                    .card__top 
                        h3.card__name JCB 280
                        h2.card__status под заказ
                    .card__params 
                        .card__param 
                            .card__param-title
                                p Масса
                            .card__param-value 
                                p 3867 кг 

                        .card__param 
                            .card__param-title
                                p Грузоподъёмность
                            .card__param-value 
                                p 1271 кг 

                        .card__param 
                            .card__param-title
                                p Бренд двигателя
                            .card__param-value 
                                p DIESELMAX 

                        .card__param 
                            .card__param-title
                                p Мощность двигателя
                            .card__param-value 
                                p 74 л.с.

                    .card__buttons 
                        button(class="card__button card__button_yellow" data-js="trigger-modal-price"
                                type="submit") Стоимость
                        button(class="card__button" data-js="trigger-modal-leasing"
                                type="submit") Рассчитать лизинг
            div.card 
                picture 
                    source(
                        srcset=require("../../img/models/JCB-300.webp") 
                        type="image/webp")
                    img(src=require("../../img/models/JCB-300.jpg") 
                        alt="JCB 300" 
                        class="card__image")
                .card__info
                    .card__top 
                        h3.card__name JCB 300
                        h2.card__status под заказ
                    .card__params 
                        .card__param 
                            .card__param-title
                                p Масса
                            .card__param-value 
                                p 4067 кг 

                        .card__param 
                            .card__param-title
                                p Грузоподъёмность
                            .card__param-value 
                                p 1360 кг 

                        .card__param 
                            .card__param-title
                                p Бренд двигателя
                            .card__param-value 
                                p DIESELMAX 

                        .card__param 
                            .card__param-title
                                p Мощность двигателя
                            .card__param-value 
                                p 92 л.с.

                    .card__buttons 
                        button(class="card__button card__button_yellow" data-js="trigger-modal-price"
                                type="submit") Стоимость
                        button(class="card__button" data-js="trigger-modal-leasing"
                                type="submit") Рассчитать лизинг
            div.card
                picture 
                    source(
                        srcset=require("../../img/models/JCB-330.webp") 
                        type="image/webp")
                    img(src=require("../../img/models/JCB-330.jpg") 
                        alt="JCB 330" 
                        class="card__image")
                .card__info
                    .card__top 
                        h3.card__name JCB 330
                        h2.card__status под заказ
                    .card__params 
                        .card__param 
                            .card__param-title
                                p Масса
                            .card__param-value 
                                p 4203 кг 

                        .card__param 
                            .card__param-title
                                p Грузоподъёмность
                            .card__param-value 
                                p 1495 кг 

                        .card__param 
                            .card__param-title
                                p Бренд двигателя
                            .card__param-value 
                                p DIESELMAX 

                        .card__param 
                            .card__param-title
                                p Мощность двигателя
                            .card__param-value 
                                p 92 л.с.

                    .card__buttons 
                        button(class="card__button card__button_yellow" data-js="trigger-modal-price"
                                type="submit") Стоимость
                        button(class="card__button" data-js="trigger-modal-leasing"
                                type="submit") Рассчитать лизинг
                                               